IO_LOC "rstn_i" 14;
IO_PORT "rstn_i" PULL_MODE=UP;
IO_LOC "clk_i" 45;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;


IO_LOC "uart0_txd_o" 22;
IO_PORT "uart0_txd_o" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC "uart0_rxd_i" 23;
IO_PORT "uart0_rxd_i" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC "gpio_o[0]" 33;
IO_PORT "gpio_o[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[1]" 16;
IO_PORT "gpio_o[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[2]" 13;
IO_PORT "gpio_o[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[3]" 17;
IO_PORT "gpio_o[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[4]" 18;
IO_PORT "gpio_o[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[5]" 19;
IO_PORT "gpio_o[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[6]" 20;
IO_PORT "gpio_o[6]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;
IO_LOC "gpio_o[7]" 21;
IO_PORT "gpio_o[7]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;